<div class= "box-container" align="center">
  <div id="<%= dom_id movie %>">
    <p>
      <strong>Name : </strong>
      <%= movie.name %>
    </p>

    <p>
      <strong>Release date : </strong>
      <%= movie.release_date %>
    </p>

    <p>
    <% if movie.image.attached? %>
      <%= image_tag movie.image, style: "max-width: 200px; max-height: 150px; "%>
    <% end %>
    </p>
    <p>
      <strong>Rating:</strong>
      <%= movie.average_rating %>
      <%='â­' %>
    </p>
    <%= link_to 'View Reviews', movie_reviews_path(movie), class: "btn btn-primary btn-sm" %>
    <% if current_user.id==1 %>
      <%= link_to "Show this movie", movie_path(movie), class: "btn btn-info  btn-sm" %>
    <% end %>
  </div>
</div>


<style>
    /* Define styles for the container */
    .box-container {
        width: 300px; /* Set the width of the box */
        height: 350px; /* Set the height of the box */
        border: 1px solid black; /* Add a border */
        padding: 20px; /* Add some padding inside the box */
        margin: 20px; /* Add margin to create space between containers */
        float: left; /* For the movie box to appear side by side */
        background-color: rgb(224,255,255,0.7);
        border-radius: 10px; /* Add rounded corners */
        color: #000000;
        align-content: center;
        font-size: 17px;

    }
</style>