<div class= "box-container">
  <div align="center">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 200px; height: 25px; border-radius: 6px;" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", style: "width: 200px; height: 25px; border-radius: 6px;" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<br>
  <div class="actions">
    <%= f.submit "Log in" , class: "btn btn-success btn sm"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>




<style>

    .box-container {
        width: 300px; /* Set the width of the box */
        height: 320px; /* Set the height of the box */
        background-color: rgb(224,255,255,0.9); /* Set the background color */
        padding: 20px; /* Add some padding inside the box */
        margin: 10px; /* Add margin to create space between containers */
        float: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        font-size: 16px; /* Adjust the font size */
        color: #000000;

    }

    body {
        background-image: url('https://th.bing.com/th/id/R.d2edb29f3f970c36aadecbb01ed0bb79?rik=euy3GgtoVbZXjQ&riu=http%3a%2f%2fs3-us-west-2.amazonaws.com%2ftechvibes%2fwp-content%2fuploads%2f2017%2f04%2f24135159%2fNetflix-Background.jpg&ehk=Te5qPs5gcrmm6JGD3hx5pWZ%2f7tWNKhG3laqWQsQBqd4%3d&risl=&pid=ImgRaw&r=0');
        background-size: cover; /* Ensures the image covers the entire background */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
        background-position: center center; /* Centers the background image horizontally and vertically */

    }
</style>