<div class= "box-container">
<%= form_with(model: [@movie, review]) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment, style: 'border-radius: 7px; ' %>
  </div>
<br>Movie
  <div class="field">
    <%= form.radio_button :rating , 1 %>
    <%= form.label :one , '⭐1', :value=> 1 %>

    <%= form.radio_button :rating , 2 %>
    <%= form.label :two , '⭐2', :value=> 2 %>

    <%= form.radio_button :rating , 3 %>
    <%= form.label :three , '⭐3', :value=> 3 %>

    <%= form.radio_button :rating , 4 %>
    <%= form.label :four , "⭐4", :value=> 4 %>

    <%= form.radio_button :rating , 5 %>
    <%= form.label :five , "⭐5", :value=> 5 %>
  </div>
<br>
  <div>
    <%= form.submit class: "btn btn-success btn sm" %>
  </div>
<% end %>
</div>
<style>
    /* Define styles for the container */
    .box-container {
        width: 400px; /* Set the width of the box */
        height: 210px; /* Set the height of the box */
        border: 1px solid black; /* Add a border */
        padding: 20px; /* Add some padding inside the box */
        margin: 20px; /* Add margin to create space between containers */
        border-radius: 10px; /* Add rounded corners */
        background-color: rgb(224,255,255,0.7);
        color: #000000;
        font-size: 15px;
    }


</style>