<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%= link_to "Edit this review", edit_movie_review_path(@review) %> |
  <%= link_to "Back to reviews", movie_reviews_path %>

  <%= button_to "Destroy this review", movie_review_path(@review), method: :delete %>
</div>
